body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #fffcf2;
}

header {
    background: #252422;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #403d39;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background: #fffcf2;
    color: #555;
    transition-duration: 0.5s
}

main {
    padding: 20px;
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img {
    margin: 10px;
    border: #9c9c9c;
    border-style: solid;
    width: 50%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

